<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page2</key>
		<dict>
			<key>CreationDate</key>
			<date>2006-12-21T12:04:52Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>A20F4EA0-0088-463C-8D28-F58F1F88ADAF</string>
			<key>PageDigests</key>
			<dict>
				<key>files/button_home.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2pOqequSbjkhchDTa4hh+Q==
					</data>
					<key>Size</key>
					<integer>1872</integer>
				</dict>
				<key>files/button_next.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					a80ab3xzzCqz7lIKLI2ZWA==
					</data>
					<key>Size</key>
					<integer>1866</integer>
				</dict>
				<key>files/button_previous.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					/DnxokRxAtOyfJ+uQIBoGQ==
					</data>
					<key>Size</key>
					<integer>1852</integer>
				</dict>
				<key>files/page2-1000-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					o5aDaOQdMoXjPuQekRDisQ==
					</data>
					<key>Size</key>
					<integer>1153</integer>
				</dict>
				<key>files/page2-1000-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					QNJnmhE3Xo3AkZLxcYiZmw==
					</data>
					<key>Size</key>
					<integer>42303</integer>
				</dict>
				<key>files/page2-1000-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					18ZfI2iG1OoZsJnT8JQbRQ==
					</data>
					<key>Size</key>
					<integer>8312</integer>
				</dict>
				<key>files/page2-1001-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					NJSRffSMmpMNz/eusdQ1SA==
					</data>
					<key>Size</key>
					<integer>1193</integer>
				</dict>
				<key>files/page2-1001-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					IwqGqCL0DTJCOPnSnVduMg==
					</data>
					<key>Size</key>
					<integer>85854</integer>
				</dict>
				<key>files/page2-1001-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					EuutzuNBgckeUTea7GTrEQ==
					</data>
					<key>Size</key>
					<integer>9727</integer>
				</dict>
				<key>files/page2-1002-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					6UNfdaoNiYBV9LQVarArJA==
					</data>
					<key>Size</key>
					<integer>1193</integer>
				</dict>
				<key>files/page2-1002-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DxY4+IjX27fihvvFrXgAfw==
					</data>
					<key>Size</key>
					<integer>74866</integer>
				</dict>
				<key>files/page2-1002-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nMBdj7l7eFUc7zyGkBThRw==
					</data>
					<key>Size</key>
					<integer>8670</integer>
				</dict>
				<key>files/page2-1003-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					e4hrdhJkoDWNwE5rvr4G+A==
					</data>
					<key>Size</key>
					<integer>1194</integer>
				</dict>
				<key>files/page2-1003-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					LkhBoDUBqOZnUMcD3F1idQ==
					</data>
					<key>Size</key>
					<integer>82599</integer>
				</dict>
				<key>files/page2-1003-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vhTa8UFtB/NuN5gx46pq8A==
					</data>
					<key>Size</key>
					<integer>9563</integer>
				</dict>
				<key>files/page2-1004-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					chs3ue1+NVruZOmlWGycmw==
					</data>
					<key>Size</key>
					<integer>1194</integer>
				</dict>
				<key>files/page2-1004-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wUlhxixiSSoV6r37/24flg==
					</data>
					<key>Size</key>
					<integer>63067</integer>
				</dict>
				<key>files/page2-1004-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					DqYQksZvYBa7y4YycDaZAA==
					</data>
					<key>Size</key>
					<integer>8649</integer>
				</dict>
				<key>files/page2-1005-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					RM6P72zRXwMNqVJHbrjJZg==
					</data>
					<key>Size</key>
					<integer>1204</integer>
				</dict>
				<key>files/page2-1005-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GCmEedGjow1qJNdCFuAN6A==
					</data>
					<key>Size</key>
					<integer>37463</integer>
				</dict>
				<key>files/page2-1005-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					oVik/wjTxezTCci2YGlgCw==
					</data>
					<key>Size</key>
					<integer>7577</integer>
				</dict>
				<key>files/page2-1006-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					zbZbFvzkgMZWDehlcJUZ7g==
					</data>
					<key>Size</key>
					<integer>1194</integer>
				</dict>
				<key>files/page2-1006-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lUwT1dj930pjahrdIuM3oQ==
					</data>
					<key>Size</key>
					<integer>65819</integer>
				</dict>
				<key>files/page2-1006-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					msYzI9h2vnbm9EMeTvkZdg==
					</data>
					<key>Size</key>
					<integer>7995</integer>
				</dict>
				<key>files/page2-1007-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					hjH9Ez/BX+oy88Rz2u7HAA==
					</data>
					<key>Size</key>
					<integer>1193</integer>
				</dict>
				<key>files/page2-1007-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					xWgrN5248YZ8mdHdvvVssA==
					</data>
					<key>Size</key>
					<integer>56453</integer>
				</dict>
				<key>files/page2-1007-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OYyjxLxCJoi3Fx1p6VwQHg==
					</data>
					<key>Size</key>
					<integer>7292</integer>
				</dict>
				<key>files/page2-1008-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					6PXm3XwFJWeMqs4Z3XhBlQ==
					</data>
					<key>Size</key>
					<integer>1193</integer>
				</dict>
				<key>files/page2-1008-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					4EfeaGfAq0sW++cmdxbfNg==
					</data>
					<key>Size</key>
					<integer>66982</integer>
				</dict>
				<key>files/page2-1008-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZSgXISCjjtponBG6kVmiNA==
					</data>
					<key>Size</key>
					<integer>10551</integer>
				</dict>
				<key>files/page2-1009-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					7yj9dLEy0PuxuTuFiBCPkA==
					</data>
					<key>Size</key>
					<integer>1193</integer>
				</dict>
				<key>files/page2-1009-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Ocnfe0NTsrQHL0uH0YG7pw==
					</data>
					<key>Size</key>
					<integer>54449</integer>
				</dict>
				<key>files/page2-1009-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					v0in3S75VoVSJOeY6IBGrw==
					</data>
					<key>Size</key>
					<integer>10527</integer>
				</dict>
				<key>files/page2-1010-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					8bpauCOzDQcp3IMRIHv9ZA==
					</data>
					<key>Size</key>
					<integer>1204</integer>
				</dict>
				<key>files/page2-1010-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					wEOU/wTKtmH6mJ1O0CRl1A==
					</data>
					<key>Size</key>
					<integer>59040</integer>
				</dict>
				<key>files/page2-1010-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ERPtiDB1anH9knSgtvq1Jw==
					</data>
					<key>Size</key>
					<integer>8453</integer>
				</dict>
				<key>files/page2-1011-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					+G48nwwZTTP36BTJ7b0m1w==
					</data>
					<key>Size</key>
					<integer>1198</integer>
				</dict>
				<key>files/page2-1011-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					cqZZAZGZvPCRqfkiovxQeg==
					</data>
					<key>Size</key>
					<integer>50388</integer>
				</dict>
				<key>files/page2-1011-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GEqsbJj8oGRGNuaj1Zo7pA==
					</data>
					<key>Size</key>
					<integer>6860</integer>
				</dict>
				<key>files/page2-1012-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					qhZVLuZiKq2aBAz2H8+qqQ==
					</data>
					<key>Size</key>
					<integer>1199</integer>
				</dict>
				<key>files/page2-1012-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					unzN58ZWOL1lTUQwyljOIw==
					</data>
					<key>Size</key>
					<integer>57454</integer>
				</dict>
				<key>files/page2-1012-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SM65NwKKuhJ3xnaNP+1OpQ==
					</data>
					<key>Size</key>
					<integer>6927</integer>
				</dict>
				<key>files/page2-1013-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					wTplPtBzmV/mqneXEvEWDA==
					</data>
					<key>Size</key>
					<integer>1193</integer>
				</dict>
				<key>files/page2-1013-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					FYdk3H+xlCYoqrAY3h0YUA==
					</data>
					<key>Size</key>
					<integer>68118</integer>
				</dict>
				<key>files/page2-1013-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					sBaBJhDG+0ZPOtP5hil0Nw==
					</data>
					<key>Size</key>
					<integer>8115</integer>
				</dict>
				<key>files/page2-1014-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					KDhhnOLvIwxG9Y+iZIYyfA==
					</data>
					<key>Size</key>
					<integer>1202</integer>
				</dict>
				<key>files/page2-1014-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GG4yIHPzyz/lCGoAzz/6bQ==
					</data>
					<key>Size</key>
					<integer>77376</integer>
				</dict>
				<key>files/page2-1014-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					5536GfIbThIJqn0ihUTiBw==
					</data>
					<key>Size</key>
					<integer>9973</integer>
				</dict>
				<key>files/page2-1015-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					8GKgyYvwHAXXlH3y32W58g==
					</data>
					<key>Size</key>
					<integer>1194</integer>
				</dict>
				<key>files/page2-1015-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BcmwMflr8t/Xqa9RFyRmrQ==
					</data>
					<key>Size</key>
					<integer>80082</integer>
				</dict>
				<key>files/page2-1015-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					1KZ+T7sSGBKlyl0dRaRtbQ==
					</data>
					<key>Size</key>
					<integer>9538</integer>
				</dict>
				<key>files/page2-1016-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					9SvV/BVKjJSb2fBYb0cOyw==
					</data>
					<key>Size</key>
					<integer>1206</integer>
				</dict>
				<key>files/page2-1016-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lVK5FDRLM7VbzzFA1Mcrow==
					</data>
					<key>Size</key>
					<integer>27727</integer>
				</dict>
				<key>files/page2-1016-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					GW6FlLxvS4b2uGtoSxKtFA==
					</data>
					<key>Size</key>
					<integer>5336</integer>
				</dict>
				<key>files/page2-1017-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					+0DL9uQBjeZ0eWIkDqjfBg==
					</data>
					<key>Size</key>
					<integer>1194</integer>
				</dict>
				<key>files/page2-1017-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					7Ds/WVX943Y63lLL8bdTrA==
					</data>
					<key>Size</key>
					<integer>47906</integer>
				</dict>
				<key>files/page2-1017-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					fjqX5CB+e/OPEj/2ZaYvDg==
					</data>
					<key>Size</key>
					<integer>8851</integer>
				</dict>
				<key>files/page2-1018-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					DU3iX9DIWkPjfrs1LiY6tQ==
					</data>
					<key>Size</key>
					<integer>1224</integer>
				</dict>
				<key>files/page2-1018-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Z7KKFqz+BtC0VwS+VPUXGA==
					</data>
					<key>Size</key>
					<integer>59448</integer>
				</dict>
				<key>files/page2-1018-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					VhmTDEawejKtW8Qq7W2koA==
					</data>
					<key>Size</key>
					<integer>9540</integer>
				</dict>
				<key>files/page2-1019-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					tGW1C97BsvpxDaF1mseqlw==
					</data>
					<key>Size</key>
					<integer>1200</integer>
				</dict>
				<key>files/page2-1019-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					vNXsMkuweoWTW/jbJRZEaA==
					</data>
					<key>Size</key>
					<integer>93975</integer>
				</dict>
				<key>files/page2-1019-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PXFEcwSuj6MirdAHSDPnaA==
					</data>
					<key>Size</key>
					<integer>10556</integer>
				</dict>
				<key>files/page2-1020-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					AoIMTonAEkGilTHT4eu7vw==
					</data>
					<key>Size</key>
					<integer>1199</integer>
				</dict>
				<key>files/page2-1020-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					22d0ngiSkftZUpgy1cCvgA==
					</data>
					<key>Size</key>
					<integer>73640</integer>
				</dict>
				<key>files/page2-1020-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					CIX1uzFC/CVyptx2iYBj2g==
					</data>
					<key>Size</key>
					<integer>8767</integer>
				</dict>
				<key>files/page2-1021-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					gpstBMHGwihbf1ikawROCQ==
					</data>
					<key>Size</key>
					<integer>1207</integer>
				</dict>
				<key>files/page2-1021-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					SrQjbF/veMsxp0R7i6ad3Q==
					</data>
					<key>Size</key>
					<integer>80222</integer>
				</dict>
				<key>files/page2-1021-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ppE5G6ug4Fl6kqipvOO2yQ==
					</data>
					<key>Size</key>
					<integer>9726</integer>
				</dict>
				<key>files/page2-1022-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					hJFajcUPv2UhMLHebb+EMg==
					</data>
					<key>Size</key>
					<integer>1201</integer>
				</dict>
				<key>files/page2-1022-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					FOY9rwngr/dsK6BXoek1Lg==
					</data>
					<key>Size</key>
					<integer>23268</integer>
				</dict>
				<key>files/page2-1022-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Ltt0DaZqrdMnQ+1NhzmcMQ==
					</data>
					<key>Size</key>
					<integer>5253</integer>
				</dict>
				<key>files/page2-1023-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					2jHlkghRIUPmcB17vdG0RQ==
					</data>
					<key>Size</key>
					<integer>1207</integer>
				</dict>
				<key>files/page2-1023-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					8TQIFbGr8n+/tbFDwFy/7w==
					</data>
					<key>Size</key>
					<integer>50250</integer>
				</dict>
				<key>files/page2-1023-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					zFPzWBM0/170/Pmd1biC7g==
					</data>
					<key>Size</key>
					<integer>5694</integer>
				</dict>
				<key>files/page2-1024-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					d+NJ0ldjGOBVLmPXGkLdDw==
					</data>
					<key>Size</key>
					<integer>1209</integer>
				</dict>
				<key>files/page2-1024-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					h7zFDWZBjQQbT+zqqlRAeQ==
					</data>
					<key>Size</key>
					<integer>30776</integer>
				</dict>
				<key>files/page2-1024-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					lHgoGxsE+3ZkFyIcs2dm+Q==
					</data>
					<key>Size</key>
					<integer>6715</integer>
				</dict>
				<key>files/page2-1025-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					bPs8TJGyJyUYEEkPf+mcjw==
					</data>
					<key>Size</key>
					<integer>1217</integer>
				</dict>
				<key>files/page2-1025-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ZAi3/j2n+X+jUY7zOfczcQ==
					</data>
					<key>Size</key>
					<integer>77721</integer>
				</dict>
				<key>files/page2-1025-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					ojVqm6HgMllLcf9dzsCnhg==
					</data>
					<key>Size</key>
					<integer>9342</integer>
				</dict>
				<key>files/page2-1026-full.html</key>
				<dict>
					<key>Digest</key>
					<data>
					myLPCG21bNEMq9CD7gg6VQ==
					</data>
					<key>Size</key>
					<integer>1168</integer>
				</dict>
				<key>files/page2-1026-full.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Zlr61rNDjPxWz9c2xjrNUw==
					</data>
					<key>Size</key>
					<integer>49794</integer>
				</dict>
				<key>files/page2-1026-thumb.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Mp2wmbGimThDawPwu6XTLw==
					</data>
					<key>Size</key>
					<integer>9816</integer>
				</dict>
				<key>page2.html</key>
				<dict>
					<key>Digest</key>
					<data>
					nPyqbTzIe887V/c4qq6Gqw==
					</data>
					<key>Size</key>
					<integer>17599</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page2</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
